html, body, #root {
  // margin: 0;
  height: 100%;
  font-family: 'Open Sans', sans-serif;
  color:white;
  background-image: url("/images/background.png");
  background-repeat: no-repeat;
  background-position: center top;
  background-color: #18133b;
}

body, h1, h2, h3 {
  font-weight: 300;
}

a {
  color: white;
  text-decoration: none;

  &:hover {
    color: white;
  }
}

.primary{
  color:rgb(52, 98, 96);
}

.secondary{
  color:#b8367c;
}

.third{
  color:rgb(24, 19, 59);
}

.tech:hover{
  cursor: pointer;
  background-color: rgba(255,255,255, 0.1);
}

.title{
  font-size: 100px;
  text-align: center;
}